name: Maven Deploy

on:
  push:
    branches:
      - main

env:
  PRIMARY_MAVEN_MODULE: ${{ github.event.repository.name }}

permissions:
  contents: write
  pull-requests: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set Up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn clean clean install package -T2C

      - name: Build Site
        run: mvn -B compile site -DskipTests -T2C
        working-directory: ${{ env.PRIMARY_MAVEN_MODULE }}

      - name: Deploy To GitHub Packages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN_FOR_MAVEN }}
        run: mvn --batch-mode deploy